<script>
    $('.row').transition('swing left');
</script>

<script>
    $('#myList a').on('click', function (e) {
            e.preventDefault();
            $(this).tab("show");
        });
</script>

</body>
</html>